.containerProduct{
    flex: 4;
    margin-left: 10px;
    margin-right: 10px;
}
.ant-upload-list-item{
    display:none;
    visibility: hidden;
}
.productContainer{
    margin-top: 10px;
    border-radius: 3%;
    -webkit-box-shadow: -3px 2px 16px 0px rgba(152, 162, 160, 0.75);
    box-shadow: -3px 2px 16px 0px rgba(128, 140, 136, 0.75);
}

